/* body {
  min-height: 3000px;
} */

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

h1 {
  position: relative;
  color: #252839;
  -webkit-text-stroke: 0.3vm #383d52;
  text-transform: uppercase;
}
